<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">    <title>Title</title>
</head>
<body style="background: #b5b9b4">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ActiUser</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="'/admin/main/'+${user.getId()}" th:text="${locale.getLocale().getString('getHome')}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/admin/listOfActivity/'+${user.getId()}" th:text="${locale.getLocale().getString('getList')}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/admin/listOfRequest/'+${user.getId()}" th:text="${locale.getLocale().getString('listOfRequest')}"></a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-primary btn-lg disabled" th:text="${user.getLogin()}"></button>
                <button class="btn btn-outline-primary btn-lg" type="submit"><a href="/" th:text="${locale.getLocale().getString('signOut')}"></a></button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
<table class="table">
    <thead>
    <tr>
        <th scope="col"><a th:href="'/admin/listOfActivity/' + ${user.getId()}" th:text="${locale.getLocale().getString('id')}"></a></th>
        <th scope="col"><a th:href="'/admin/listOfActivity/' + ${user.getId()} + '/sortByName'" th:text="${locale.getLocale().getString('name')}"></a></th>
        <th scope="col"><a th:href="'/admin/listOfActivity/' + ${user.getId()} + '/sortByCategory'" th:text="${locale.getLocale().getString('category')}"></a></th>
        <th scope="col"><a th:href="'/admin/listOfActivity/' + ${user.getId()} + '/sortByUsers'" th:text="${locale.getLocale().getString('users')}"></a></th>
        <th scope="col" th:text="${locale.getLocale().getString('delete')}"></th>
        <th scope="col" th:text="${locale.getLocale().getString('edit')}"></th>
    </tr>
    </thead>
    <tbody th:each="activity : ${activities}">
    <tr>
        <th scope="row" th:text="${activity.getId()}"></th>
        <td th:text="${activity.getName()}"></td>
        <td th:text="${activity.getCategory()}"></td>
        <td>
            <div th:each="user : ${activity.getUsers()}">
                <div th:text="${user.getLogin()}"></div>
            </div>
        </td>
        <td><button class="btn btn-outline-secondary"><a th:href="'/admin/listOfActivity/' + ${user.getId()} + '/delete/' + ${activity.getId()}" th:text="${locale.getLocale().getString('delete')}"></a></button></td>
        <td><button class="btn btn-outline-success"><a th:href="'/admin/listOfActivity/' + ${user.getId()} + '/edit/' + ${activity.getId()}" th:text="${locale.getLocale().getString('edit')}"></a></button></td>
    </tr>
    </tbody>
</table>
    <nav class="navbar navbar-expand-lg">
        <button class="btn btn-outline-primary btn-lg"><a th:href="'/admin/listOfActivity/' + ${user.getId()} + '/sortByCategory?dir=next' ">-></a></button>
        <form class="d-flex">
        <button class="btn btn-outline-primary btn-lg"><a th:href="'/admin/listOfActivity/' + ${user.getId()} + '/sortByCategory?dir=prev' "><-</a></button>
        </form>
    </nav>
<div>
<button class="btn btn-outline-primary btn-lg"><a th:href="'/admin/listOfActivity/' + ${user.getId()} + '/addAnActivity'">Add new activity</a></button>
</div>
</div>

</body>
</html>